name: updateEmail

on:
  push:
  #schedule:
  #  - cron: '0 21 * * *'

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout codes'
        uses: actions/checkout@v1
      - name: 'Get log'
        run: git log | head -n6 > result.html | "github:https://github.com/Jokerkern/logSystemFront" >> result.html
      - name: 'Send mail'
        uses: dawidd6/action-send-mail@master
        with:
          server_address: smtp.163.com
          server_port: 465
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: Log system updatedÔºÅ
          body: file://result.html
          to: 852946650@qq.com
          from: GitHub Actions
          content_type: text/html
